<div class="col-sm">
    <div class="container-fluid">
        <div class="card contact">
            <div class="card-body">
                <div class="card-title oswalText Cblue">
                    Experiencia
                </div>
                <div class="card-text">
                    <div>
                        <span class="MontText Cbolder800">Desarrollador web</span>
                    </div>
                    <div>
                        <span class="MontText Cblue">Imagen Digital</span>
                        <span class="MontText Cblue Cbolder800">
                            | 2014 - actual
                        </span>
                    </div>
                    <div>
                        <p>
                            Desarrollo y mantenimiento de sitios web.
                            Elaboración de módulos de Drupal 7.
                        </p>
                        <span>Experiencia con APIS públicas:</span>
                        <ul>
                            <li>Mailchimp suscripcion via API de PHP.</li>
                            <li>Crear sesiones de usuarios vía facebook (PHP/Javascript).</li>
                            <li>Google Sheets API PHP.</li>
                            <li>Desarrollo de sistema de correo de suscripción de envío semanal usando servicios como Amazon y Mailgun.</li>
                        </ul>
                    </div>
                    <div class="info">
                        <ul>
                            <li> Desarrollo en PHP orientado a objetos.</li>
                            <li> Uso de diversos plugins de jQuery.</li>
                            <li>Implementación de publicidad con Google DFP y extensión de su funcionamiento con servicios terceros como Prebid y Fastlane.</li>
                            <li>
                                Implementación de Google AMP en Drupal.
                            </li>
                            <li>
                                Consumo de APIs JSON locales.
                            </li>
                            <li>
                                Experiencia con manipulación DOM con Javascript.
                            </li>
                            <li>
                                Creación de aplicaciones isomórficas con React, Express y Node.js.
                            </li>
                            <li>
                                Implementación de optimizaciones para carga más rápida de páginas.
                            </li>
                            <li>
                                Planeación en desarrollos.
                            </li>
                            <li> Conocimiento de la metodología SCRUM.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card proyects">
            <div class="card-body">
                <div class="card-title oswalText Cblue">
                    Proyectos
                </div>
                <div class="card-text">
                    <div>
                        <header class="MontText Cbolder800" style="font-size: 12px">
                            Implementación del sistemas de control de procesos de mantenimiento de equipos de computo (Proyecto de titulación)
                        </header>
                        <p class="MontText" style="font-size:11px ">Sistema en línea de apartado de equipo de cómputo de la Universidad del Politécnico del Golfo de México.
                        </p>
                        <ul>
                            <li>
                                <span>Salud180 </span>
                                <span>(Líder y desarrollador)</span>
                                <a href="https://www.salud180.com/">
                                    https://www.salud180.com/
                                </a>
                            </li>
                            <li>
                                <span> Salud180 - Herramienta Fácil y en forma </span>
                                <span>(Líder y desarrollador)</span>
                                <a href="https://www.salud180.com/mi-salud/facil-y-en-forma">
                                    https://www.salud180.com/mi-salud/facil-y-en-forma
                                </a>
                            </li>
                            <li>
                                <span>Brochazo </span>
                                <span>(Líder y desarrollador)</span>
                                <a href=" http://www.brochazo.com/">
                                    http://www.brochazo.com/
                                </a>
                            </li>
                            <li>
                                <span> Bien y Saludable </span>
                                <span>(Líder y desarrollador)</span>
                                <a href="http://www.bienysaludable.com/">
                                    http://www.bienysaludable.com/
                                </a>
                            </li>
                            <li>
                                <span>VisitMexico</span>
                                <a href="https://www.visitmexico.com/es">
                                    https://www.visitmexico.com/es
                                </a>
                            </li>
                            <li>
                                <span>ActitudFem versión móvil</span>
                                <span>(Progressive WebApp) (Líder y desarrollador)</span>
                                <a href="https://m.actitudfem.com/">
                                    https://m.actitudfem.com/
                                </a>
                            </li>
                            <li>
                                <span> Salud180 versión móvil</span>
                                <span>(Symfony)</span>
                                <a href="https://m.salud180.com/">
                                    https://m.salud180.com/
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>