<div class="col-sm">
    <div class="container-fluid">
        <div class="card profile-image">
            <img class="rounded-circle" style="width: 70%" src="https://scontent.fmtt1-1.fna.fbcdn.net/v/t1.0-1/p160x160/65522448_2223142451054439_8249947231411503104_o.jpg?_nc_cat=104&cachebreaker=hd&_nc_oc=AQl58kCwiVaGfpi6pIoYM43Uxc6I-cGp7UCVe2k5GkSwpLHDdP3X0LGqU8CzoYKwr7g&_nc_ht=scontent.fmtt1-1.fna&oh=f6ae552e6e6cbd2a699b670861dc4209&oe=5E0DE54A" alt="Card image cap">
            <div class="card-body presentation">
                <h5 class="card-title">Adrián lópez de la cruz </h5>
                <p class="card-text oswalText">Desarrollador web</p>
                <i class="fa fa-pencil"></i>
                <i class="fa fa-book"></i>
                <i class="fa fa-gamepad"></i>
            </div>
        </div>
        <div class="card contact">
            <div class="card-body">
                <div class="card-title oswalText">contacto
                </div>
                <div class="card-text">
                    <div>
                        <i class="fa fa-github">
                            <a href="https://github.com/LordCafe">https://github.com/LordCafe</a>
                        </i>
                    </div>
                    <div>
                        <i class="fa fa-mobile">
                            <span>
                                (055) 933 1 21 1496
                            </span>
                        </i>
                    </div>
                    <div>
                        <i class="fa fa-envelope">
                            <span>adrianlopezdelacruz@hotmail.com</span>
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card contact">
            <div class="card-body">
                <div class="card-title oswalText">Sobre mi
                </div>
                <div class="card-text">
                    Curioso por naturaleza, pasión por la programación, me gusta aprender,
                    he aprendido a organizarme para lograr objetivos según las necesidades.
                    Pasatiempos como el ajedrez, café, gym.
                    Creo que el verdadero fracaso es no aprender de los errores.
                </div>
            </div>
        </div>
        <div class="card skills">
            <div class="card-body">
                <div class="card-title oswalText">Aptitudes
                </div>
                <div class="card-text">
                    <div class="skills" data-skills='PHP' data-good='3'></div>
                    <div class="skills" data-skills='Javascript' data-good='5'></div>
                    <div class="skills" data-skills='JavaScript: ES6' data-good='5'></div>
                    <div class="skills" data-skills='jQuery' data-good='3'></div>
                    <div class="skills" data-skills='Node.js' data-good='5'></div>
                    <div class="skills" data-skills='Drupal 7' data-good='5'></div>
                    <div class="skills" data-skills='Symfony' data-good='3'></div>
                    <div class="skills" data-skills='Express' data-good='5'></div>
                    <div class="skills" data-skills='Git' data-good='5'></div>
                    <div class="skills" data-skills='React' data-good='3'></div>
                    <div class="skills" data-skills='Linux' data-good='5'></div>
                    <div class="skills" data-skills='MongoDB' data-good='5'></div>
                </div>
            </div>
        </div>
    </div>
</div>