<div class="spotify-container">
    <div class="row">
        <div class="col-3 fix-spotify">
            <div id='profile-spotify' class="card ">
                <div class="card-body">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPgvBgACHgEXvIm+6QAAAABJRU5ErkJggg==" class="card-img-top rounded-circle width20 " alt="...">
                    <div id="data-user">
                        <div><a class="card-title">Card title</a></div>
                        <a href="">Profile</a>
                    </div>
                </div>
            </div>
            <div id="currentSong" class="card">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPgvBgACHgEXvIm+6QAAAABJRU5ErkJggg==" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title"></p>
                    <p class="card-text"></p>
                    <i data-status='play' class="fa fa-play-circle" onclick="controls.click(this)"></i>
                </div>
            </div>
        </div>
        <div class="col-9  container-result fix-spotify black">
            <div>
                <form id="SpotifySnapform" autocomplete="off">
                    <input type="text" class="form-control" id="SearchSpotify" placeholder="Escribir...">
                    <button type="submit" class="btn btn-primary mb-2" style="display: none">Buscar</button>
                </form>
                <div id="result" class="result row "></div>
                <div id="Previus" class="result row ">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
let SearchResult = document.querySelector('#result');
let PreviusItems = document.querySelector('#Previus');
var player;
let controls = {

    click: function(e) {
        e.classList.toggle('fa-play-circle');
        e.classList.toggle('fa-pause-circle');
        player.togglePlay()
    }
}

var LoadSong = new CustomEvent('LoadSong');
let Preview = document.querySelector("#currentSong");
Preview.addEventListener('LoadSong', function (elem) {
   console.log(Preview.Song);
}, false);

document.addEventListener('DOMContentLoaded', function(event) {
    let urlParams = new URLSearchParams(location.search);
    const token = urlParams.get('access_token');
    let SpotifySnap = new SpotifyPlayers({
        token: token
    });

    let RenderPreview = (track) => {
        return new Promise((resolve, fail) => {
            let { album, uri } = track;
            
            if (uri != Preview.dataset.trackId) {
                Preview.dataset.trackId = track.uri;
                Preview.querySelector('img').src = album.images[0].url;
                Preview.querySelector('.card-title').innerText = track.name;
                Preview.querySelector('.card-text').innerText = track.artists[0].name;
                Preview.Song= track;                
                Preview.dispatchEvent(LoadSong);
                let target = document.querySelector('#result').innerHTML = '';
                resolve(track);
            }

        });

    }

    let PlayAndRender = (track, newBorn, play = true) => {
        let played = (play) ? SpotifySnap.PlaySong(track.uri) : false;        
        RenderPreview(track);
        let previouslyAdd = PreviusItems.querySelector('#' + newBorn.id) || false;
        if (!previouslyAdd) {
            PreviusItems.appendChild(newBorn);
        }

    }

    let CreateListPlayer = function(track) {
        let { target } = this;
        let { album } = track;
        let html = albumHtml({ id: track.id, src: album.images[0].url, name: track.name, artist: track.artists[0].name }, track);
        let ghost = document.createElement('div');
        ghost.insertAdjacentHTML('beforeend', html);
        let InList = target.querySelector('#'+ghost.lastElementChild.id) || false ;
        if (!InList) {
            target.appendChild(ghost.lastElementChild);
            let newBorn = target.lastElementChild;
            newBorn.addEventListener('click', () => { PlayAndRender(track, newBorn) }, false);
        }

    }


    window.onSpotifyWebPlaybackSDKReady = () => {
        let urlParams = new URLSearchParams(location.search);
        const token = urlParams.get('access_token');
        player = new Spotify.Player({
            name: 'SnapSoptify',
            getOAuthToken: cb => { cb(token); }
        });

        // Error handling
        player.addListener('initialization_error', ({ message }) => { console.error(message); });
        player.addListener('authentication_error', ({ message }) => { 
            window.location.href='loginSpo';

        });
        player.addListener('account_error', ({ message }) => { console.error(message); });
        player.addListener('playback_error', ({ message }) => { console.error(message); });

        // Playback status updates
        player.addListener('player_state_changed', state => {
            let { track_window } = state;
            RenderPreview(track_window.current_track)
                .then((track) => {
                    let CreateItem = CreateListPlayer.bind({ target: PreviusItems });
                    CreateItem(track);
                });
        });

        // Ready
        player.addListener('ready', ({ device_id }) => {
            console.log('Ready with Device ID', device_id);
            SpotifySnap.SetDevide(device_id);
        });

        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {

        });

        // Connect to the player!
        player.connect().then((connect) => {
            console.log(connect);
        });


    };

    SpotifySnap.GetInfo().then((user) => {
        let { images: [avatar], display_name } = user;
        let profile = document.querySelector('#profile-spotify');
        profile.querySelector('img').src = avatar.url;
        profile.querySelector(".card-title").innerText = display_name;
        profile.querySelector('a').href = user.external_urls.spotify;

    });


    let lastTrack = SpotifySnap.GetLastPlayed().then((tracks) => {    
        tracks.items.map((data)=>{
            let CreateItem = CreateListPlayer.bind({  target :PreviusItems });
            let name = data.track.name;
            console.log(name);
            CreateItem(data.track);
        })

    });





    document.querySelector('#SpotifySnapform').addEventListener('submit', function(event) {
        event.preventDefault();
        let element = event.target;
        let search = element.SearchSpotify;
        SearchResult.innerHTML = '';
        SpotifySnap.Search({
            q: search.value,
            type: 'track',
            limit: 10,
            offset: 5,
        }).then((result) => {
            let { tracks } = result;    
            tracks.items.map(CreateListPlayer, { target: SearchResult })
        })


    });





});
</script>