<div class="spotify-container">
    <div class="row">
        <div class="col-3 fix-spotify">
            <div id='profile-spotify' class="card ">
                <div class="card-body">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPgvBgACHgEXvIm+6QAAAABJRU5ErkJggg==" class="card-img-top rounded-circle width20 " alt="...">
                    <div id="data-user">
                        <div><a class="card-title">Card title</a></div>
                        <a href="">Profile</a>
                    </div>
                </div>
            </div>
            <div id="currentSong" class="card">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPgvBgACHgEXvIm+6QAAAABJRU5ErkJggg==" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title"></p>
                    <p class="card-text"></p>
                    <i data-status='play' class="fa fa-play-circle" onclick="controls.click(this)"></i>
                    <div class="progress">
                        <div id='progressTimer' class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="time" data-init='0'>
                        <span id="pmins">00</span>:<span id="pseconds">00</span> /
                        <span id="mins">00</span>:<span id="seconds">00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9  container-result fix-spotify black">
            <div>
                <form id="SpotifySnapform" autocomplete="off">
                    <input type="text" class="form-control" id="SearchSpotify" placeholder="Escribir...">
                    <button type="submit" class="btn btn-primary mb-2" style="display: none">Buscar</button>
                </form>
                <div id="result" class="result row "></div>
                <div id="Previus" class="result row ">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function(event) {
    let urlParams = new URLSearchParams(location.search);
    const token = urlParams.get('access_token');
    let SpotifySnap = new SpotifySnapApi({
        token: token,
    });

    SpotifySnap.GetInfo().then((user) => {
        let { images: [avatar], display_name } = user;
        let profile = document.querySelector('#profile-spotify');
        profile.querySelector('img').src = avatar.url;
        profile.querySelector(".card-title").innerText = display_name;
        profile.querySelector('a').href = user.external_urls.spotify;

    });

    SpotifySnap.GetLastPlayed().then((tracks) => {
        let PreviusItems = document.querySelector('#Previus');
        tracks.items.map((data) => {
            let CreateItem = CreateListPlayer.bind({ 
                target: PreviusItems, 
                SnapApi : SpotifySnap
            });
            let name = data.track.name;
            CreateItem(data.track);
        })

    });

    window.onSpotifyWebPlaybackSDKReady = function() {
        player = new Spotify.Player({
            name: 'SnapSoptify',
            getOAuthToken: cb => { cb(token); }
        });
        PlayerEvents(player, SpotifySnap);
    }

    document.querySelector('#SpotifySnapform').addEventListener('submit', function(event) {
        event.preventDefault();
        let element = event.target;
        let search = element.SearchSpotify;
        let SearchResult = document.querySelector('#result');
        SearchResult.innerHTML = '';
        SpotifySnap.Search({
            q: search.value,
            type: 'track',
            limit: 10,
            offset: 5,
        }).then((result) => {
            let { tracks } = result;
            tracks.items.map(CreateListPlayer, { target: SearchResult,  SnapApi : SpotifySnap  })
        })
    });

});
</script>