body{
 background-color: rgba(0,0,0,0.9);
}


.fa{
	color:#dddd;
}
.bGray{
	background-color: gray;
}

#profile-spotify{
	background-color: rgba(0,0,0,.8);
	color: white;
}

.spotify-title{
	color: #DDDD;
}

.spotify-text{
	color: #777;
}

#result{
	position: absolute;
	z-index: 100000;
}
.spotify-result{
	width: 100%;
	background-color: rgba(1,1,1,.8);
	margin: 0px;

}


.spotify-result:hover{
	background-color: rgba(1,1,1,1);
}
.width50{
	width: 50%;
}


#currentSong .card {
	background-color:#282828;
	color: rgba(255,255,255, .7); 
}

#currentSong .fa{
	font-size: 35px;
}
